body {
  margin: 0;
  background: #0b0b0b;
  color: white;
  font-family: Arial, sans-serif;
}

.app {
  padding: 20px;
  text-align: center;
}

h1 {
  color: red;
  text-shadow: 0 0 12px red;
}

.time-box {
  color: #ccc;
}

#dayText {
  color: #ff4d4d;
  margin: 12px 0;
  font-weight: bold;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #151515;
  border: 1px solid red;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.xp {
  color: #ff3333;
  font-size: 18px;
}

.day-strip {
  display: flex;
  margin: 15px 0;
}

.day-strip div {
  flex: 1;
  margin: 3px;
  padding: 10px 0;
  background: #111;
  color: #aaa;
  border-radius: 10px;
}

.day-strip .active {
  background: #1e90ff;
  color: white;
  box-shadow: 0 0 10px #1e90ff;
}

.streak {
  color: #ffaa00;
  font-weight: bold;
  margin-top: 15px;
}

.level-rank {
  color: #33ff33;
  font-weight: bold;
  margin-top: 15px;
}

.check-box {
  width: 18px;
  height: 18px;
  border: 2px solid red;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 0 6px red;
}

.check-box:hover {
  background: red;
}
